#menubar {
    max-width: 50%;
}

.menubar img {
    max-width: 10%;
    height: auto;
}

#topnav {
    max-width: 20%;
    float: right;
}

.topnav img {
    max-width: 2%;
    height: auto;
    float: right;
}