@font-face {
  font-family: Antonio;
  src: url("Antonio-VariableFont_wght.ttf");
}

body {
  background-color: #000000;
}


.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 0 auto;
  position: center;
}

#newsletter_form{
  position:absolute;
  max-width:45%;
  max-height:45%;
  top: 0%;
  left:50%;
  overflow:visible;
}

.signup {
  position:relative;
  max-width:100%;
  max-height:100%;
  margin-top: 60%;
  margin-left:-50%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: Antonio, fantasy;
  clear: both;
}

.submit {
  margin-top: 5px;
  background-color: #ffffff;
  color: black;;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Antonio;
  border-radius: 50px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 601px) {
  div.signup {
    font-size: 20px;
  }

  input[type=text] {
    width: 60%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.signup {
    font-size: 10px;
  }

  input[type=text] {
    width: 100%;
  }
}
